* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.tittle {
    color: #0A3871;
    font-size: 32px;
}

#entrada::placeholder {
    color: #082a54;
    font-size: 32px;
}

#entrada {
    width: 670px;
    height: 350px;
    position: absolute;
    top: 150px;
    margin-left: 30px;
    color: #082a54;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
    overflow-y: auto;
    outline: none;
}


.salida {
    /* Rectangle 1 */

position: absolute;
width: 400px;
height: 900px;
left: 800px;
top: 40px;

/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

@media screen and (max-width: 1024px) {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 688px;
height: 133px;
left: 40px;
top: 1001px;

/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

    
}
@media screen and (max-width: 768px) {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 688px;
height: 343px;
left: 40px;
top: 1001px;

background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

    
}
@media screen and (max-width: 425px) {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 327px;
height: 186px;
left: 24px;
top: 707px;

/* White */
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

    
}
    
}

#item {
    position: relative;
    top: 5px;
    background: white;
    border: none;
}

#mensaje {
    position: relative;
    top: 20px;
    background: white;
    text-align: center;
    color: #343A40;
    padding: 20px;
    margin: 0 auto;
}

.button {
    color: #F5F5F5;
    width: 310px;
    height: 60px;
    border-radius: 15px;
    background: #0A3871;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button1 {
    color: #0A3871;
    width: 310px;
    height: 60px;
    border-radius: 15px;
    background: #D8DFE8;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #082a54;
}

.button1:hover {
    background: #bfc8d4;
}

.button-position {
    position: relative;
    top: 350px;
    left: 30px;
}

.advertencia {
    font-size: 12px;
}

#copyButton {
    display: none;
    margin: 20px auto;
    color: #082a54;
    width: 310px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid #082a54;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    background-color: white;
}

#copyButton:hover {
    background: #F5F5F5;
}